.container{
   display: inline-block;
   padding: 5px;
   text-align: center;
   border: 1px solid black;
   border-top-right-radius: 180px;
   border-top-left-radius: 180px;
   border-bottom-left-radius: 180px;
   border-bottom-right-radius: 180px;
   box-shadow: 10px 10px 40px black;
   width: 250px;
   height: 340px;
   font-size: 10px;
   background-color: black;
   transition:.3s;
   color: white;
   /* background-image: url(https://i.pinimg.com/564x/6d/9f/0c/6d9f0c36b9a4e8d1f73c93c9dd8602a3.jpg); */
   /* background-size: cover; */
}

.container:hover{
   box-shadow: 0px 2px 20px greenyellow;
   cursor: pointer;
   color: black;
   background-color:white;
   border: 1px solid white;
   /* background-image: url(https://i.pinimg.com/564x/cd/68/8d/cd688dc512a369f9b22ec626bee76601.jpg); */
   
}

.botonx{
   font-size: 20px;
   border-radius: 20px;
   margin-left: 230px;
   margin-top: 10px;
   transition: .3s;
   width: 25px;
   /* align-content:baseline; */
   cursor: pointer;
   border: white;
   /* box-shadow: 5px 5px 20px black; */
   position: absolute;
  
}

.favoritos{
   background-color: transparent;
   font-size: 25px;
   border-radius: 25px;
   border-color: transparent;
   margin-top: 20px;
   width: 25px;
   height: 25px;
   cursor: pointer;
   position: absolute;
}


.imagen{
   padding-top: 0px;
   width: 240px;
   border-radius: 120px;
   transition: .5s;
   /* box-shadow: 5px 5px 30px black; */

}



.botonx:hover{
   background-color: red;
   color: white;
   align-items: center;

}
     

.lineas{
   border: 1px solid lightgreen;
   width: 100px;
}
