body{
    background-color: white;
    align-items: center;
}

.contenedor{
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-align: center;
    margin-left: 480px;
    position: center;
    align-items: center;
    display: grid;
    width: 400px;
    height: 400px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/592/378/467/tv-show-rick-and-morty-mug-shot-rick-sanchez-wallpaper-preview.jpg") 
}