.nav{
    background-color: black;
    height: 50px;
    margin-top: -5px;
    box-shadow: 10px 10px 30px black;
    
}

.random{
    margin-top: -30px;
    position: absolute;
    margin-left: 1220px;
    height: 30px;
       
}

.log{
    margin-top: -30px;
    position: absolute;
    margin-left: 20px;
    height: 30px;
}

.fav{
    margin-top: -30px;
    position: absolute;
    margin-left: 730px;
    height: 30px;
    font-size: 16px;
    border-radius: 20px;
    background-color: grey;
    color: black;
}

.home{
    border-radius: 20px;
    margin-top: -30px;
    position: absolute;
    margin-left: 530px;
    height: 30px;
    background-color: grey;
    font-size: 16px;
}

.about{
    margin-top: -30px;
    border-radius: 20px;
    position: absolute;
    margin-left: 630px;
    height: 30px;
    font-size: 16px;
    background-color: grey;
}